.view-social-pot-posts .view-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.view-social-pot-posts .view-content .views-row {
  flex-grow: 1;
  width: 320px;
  margin: 0 40px 40px 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: #e8e8e8;
}

.view-social-pot-posts .view-content .views-row .views-field {
  margin: 20px;
}

.view-social-pot-posts .view-content .views-row .views-field.views-field-field-image {
  max-height: 240px;
  margin: 20px 0;
  overflow: hidden;
}

.view-social-pot-posts .view-content .views-row .views-field .social-pot-twitter {
  background: url('../img/icon-twitter.png') no-repeat right;
  background-size: auto 100%;
}

.view-social-pot-posts .view-content .views-row .views-field .social-pot-facebook {
  background: url('../img/icon-facebook.png') no-repeat right;
  background-size: auto 100%;
}
